{
  "env": {
    "PATH": "/usr/local/bin:/usr/bin:/bin"
  },
  "apps": [
    {
      "name": "Steam Big Picture",
      "cmd": ["/usr/games/steam", "steam://open/bigpicture"],
      "exclude-global-prep-cmd": "false",
      "elevated": "false",
      "auto-detach": "true",
      "wait-all": "false",
      "exit-timeout": "5",
      "prep-cmd": [],
      "image-path": ""
    },
    {
      "name": "Quit current game",
      "cmd": ["/usr/local/bin/solstream-game-shutdown.sh"],
      "exclude-global-prep-cmd": "true",
      "elevated": "false",
      "auto-detach": "false",
      "wait-all": "true",
      "exit-timeout": "15",
      "prep-cmd": [],
      "image-path": ""
    }
  ]
}
